<div class="row">

    <div class="col-lg-3">
        <app-book-category></app-book-category>
    </div>

    <div class="col-lg-9">

        <div class="row">

            <!-- For displalying image -->
            <div class="col-12 col-md-4">
                <div class="thumbnail">
                    <img [src]=book.imageUrl width="250" height="325" />
                </div>
            </div>

            <!-- For displaying book info -->
            <div class="col-12 col-md-8">
                
                <h3>{{book.name}}</h3>
                <hr />

                <p>{{book.description}}</p>
                <hr />

                <h4>Price: <strong>{{book.unitPrice | currency: 'INR'}}</strong> </h4>
                <hr  />

                <h6>Quantity Available: {{book.unitsInStock}}</h6>
                <hr />

                <button class="btn btn-success mr-2 text-dark" routerLink="/books"><i class="fas fa-arrow-left"></i> Go back</button>
                <button class="btn btn-primary ml-2 text-dark" href="#"><i class="fas fa-cart-arrow-down"></i> Add to cart</button>
                
            </div>

        </div>
      
    </div>

  </div>
